<html>
    <head></head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h3> Weather Information </h3>
                <form action="/" method="GET"></form>
                <div class="row">
                    <div class="col-sm-2"> Enter city : </div>
                    <div>
                        <input name="City" placeholder="e.g London" autofocus/></br>
                    </div>
                </div>
                <input type="submit" value="Submit"/></br>
            </div>
        </div>
    </body>
</html>